@media (max-width:1050px) {
    
    /* #list-0 {
        display: block;
    } */

    /* #section-3 {
    height: auto;
    align-items: center;
    }
    #section-3 h1{
        text-align: center;
        font-size: larger;
        font-weight:500;
    }
    #section-3 p{
        text-align: center;
        line-break: unset;
        line-height: normal;
        
    } */


#navbar {
    width: auto;
    justify-content: space-evenly;
}

#navbar span {
    display: none;
}

#navbar ul {
    width: 0%;
}

#navbar ul li a {
    padding: 11px 11px 11px 0px;
}

#navbar button {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

#navbar img {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;

}
.navigation{
    justify-content: space-evenly;
}
#sign-in{
    margin: 0px 0px 0px 0px;

}

#logo-1 {
    height: 5px;
    margin: 0px 0px 0px 0px;
}

/* #section-3 {
    display: flex;
    flex-direction: column;
    height: auto;
}

#section-3 p {
    padding: 0px 0px 0px 0px;
    font-size: 10px;
    line-height: 17px;

} */

/* #section-3 h1 {
    padding: 0px 0px 0px 0px;
    font-size: 20px;
} */
.bg-img {
    width: 85%;
}

#section-4 {
    width: 350px;
}

#section-4 ul {
    width: 350px;
}

#section-4 ul li a {
    font-size: 10px;

}

.all-img {
    padding: 0px 0px 0px 0px;
}

.all-img img {
    height: 75px;
    width: 110px;

}

#list-2,
#list-3,
#list-4,
#span,
#join-prime {
    display: none;
}

#user {
    overflow: visible;
}

#search {
    margin-left: 5px;
} 
}
#section-4{
    width: auto;
}
@media (max-width:870)
{
    .bg-img{
        width: 85%;
    }
}    